@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-6">Elevador Jornada Microsoft</h3>
    <p><h5><b>Descrição das funcionalidades e funcionamento do sistema</b></h5></p>
    <p>      </p>
    <p>Ao executar o programa é solicitado ao usuário que informe, quantidade de andares que possui no prédio e a capacidade do elevador.</p>
     <p>Após informados os dados é liberado o menu abaixo com opções de operação.</p>

    <p>1 Digite para Inicializar -> Inicializar o elevador, com ele no térreo e vazio.<br />
        2 Digite para entrar -> Inclui uma pessoa por vez dentro do elevador, caso ele ainda tenha espaço.<br />
        3 Digite para sair -> Remove uma pessoa por vez,caso ele não esteja vazio. <br />
        4 Digite para subir -> Sobe um andar por vez, caso ele não esteja no ultimo.<br />
        5 Digite para Descer -> Desce um andar por vez, caso ele não esteja no térreo.<br />
        6 Digite para finalizar -> Finaliza o programa.</p>
    


    </div>
